.block {
  display: block;
}

body{
  background-color: #ededed;
}
       
.container{        
  background-color:white;
}
    
#icon{
   width:250px;
   margin-top:-5px;
   margin-bottom: -10px;
}
   
.form-group input[type=password], input[type=text], input[type=email], input[type=username]{
    border-color:black;    
    text-align: center;   
}

.field {
  margin-bottom: 8px;
  font-size: 16px;
}
.field > label:nth-child(1){
  font-weight: 900;
  width: 75px;
}



.error-label {
  display: none;
  margin-top: 4px;
  color: red;
}

.form-group :focus:invalid  {
  border: 1px solid rgba(251, 40, 59, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(163, 5, 18, 0.164);
  outline: initial;
}

.form-group :focus:valid  {
  border: 1px solid rgba(46, 204, 113, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(46, 204, 113, 0.5);
  outline: initial;
}




    
    
       